page-pick-product {
  background: #ededed;
  ion-header {
    &.sec-header {
      top: 56px;
      position: fixed;
      ion-icon {
        color: #1a73e8;
      }
    }
  }

  ion-content {
    margin-top: 160px !important;
  }

  .scroll-content {
    margin-top: 5px !important;
  }
  
  .green-box h1 {
    padding-top: 33px;
  }
}
