page-salesman-customer-order-summary {
  background: #ededed;

  ion-header {
    &.sec-header {
      top: 56px;
      position: fixed;
      ion-icon {
        color: #1a73e8;
      }
    }
  }

  h4 {
  margin:0;
  }

  .green-box {
    margin-top: 100px;
    height: 200px;
    overflow-y: auto;

    h4 {
      color : #fff !important;
    }
  }

  .scroll-content {
    margin-top: 3px !important;
  }
}
