page-devices {
  background: #ededed;
  ion-header {
    &.sec-header {
      top: 56px;
      position: fixed;
      ion-icon {
        color: #1a73e8;
      }
    }
  }

  ion-content {
    margin-top: 60px !important;
  }
}
