<!--
  Generated template for the CustomerProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="light" class="sec-header">
  <ion-navbar color="light">
    <ion-title>Record loss</ion-title>
  </ion-navbar>
</ion-header>
<core-toolbar></core-toolbar>
<div class="green-box">
  <h4>Select items lost</h4>
  <hr color="light" />
</div>
<ion-content style="margin-top: 180px;height:calc(100% - 180px)">

  <ion-item>
    <ion-label>Reason for loss</ion-label>
    <ion-select [(ngModel)]="reason">
      <ion-option value="spoiled">Spoiled</ion-option>
      <ion-option value="free">Promotional</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="reason == 'free'">
    <ion-label>Customer</ion-label>
    <ion-select [(ngModel)]="customer">
      <ion-option *ngFor="let customer of customers;" [value]="customer.name">{{ customer.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-searchbar [(ngModel)]="filterVal"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items"
      [hidden]="filterVal.length != 0 && !( item.itemName.toLowerCase().includes(filterVal.toLowerCase()) || item.vendor.toLowerCase().includes(filterVal.toLowerCase()) )"
      (click)="itemAction(item)">
      <ion-label item-start># {{ item.itemName }} | {{ item.vendor }}</ion-label>
      <ion-label item-content style="flex:4">| {{ item.unitPrice.toFixed(2) }} USD</ion-label>

    </ion-item>
  </ion-list>
</ion-content>