page-stopsto-pick {
  background: #ededed;
  ion-header {
    &.sec-header {
      top: 56px;
      position: fixed;
      ion-icon {
        color: #1a73e8;
      }
    }
  }

  ion-content {
    margin-top: 250px !important;
    height: calc(100% - 250px);
  }

  .scroll-content {
    margin-top: 5px !important;
  }

  ion-list {
    ion-icon[name="arrow-forward"] {
      font-size: 30px;
      position: relative;
      right: 0px;
      top: 7px;
    }
  }

  h5 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: -8px;
  }

  .green-box h1 {
    padding: 10px;
    padding-top: 41px;
  }
}
