page-signature-pad {
	signature-pad {
		background: #ededed;
	}
	background: #ededed;
	  ion-header {
	    &.sec-header {
	      position: fixed;
	      ion-icon {
	        color: #1a73e8;
	      }
	    }
	  }
}
