page-salesman-stopon-route {
  background: #ededed;

  ion-header {
    &.sec-header {
      top: 56px;
      position: fixed;
      ion-icon {
        color: #1a73e8;
      }
    }
  }

  .green-box {
    margin-top: 100px;
    height: 200px;
    overflow-y: auto;
  }

  .scroll-content {
    margin-top: 3px !important;
  }
}
